{% extends 'base.html' %}
{% block content %}
<h1>Galeria Zdjęć</h1>
<div class="container">
    <div class="gallery">       
        {% for image in image_list %}
        <div class="image-container">
            <a href = "profile/ {{ image.id }}">
                <img src="{{ image.path }}" alt="{{ image.name }}">
                <div class="image-caption">{{ image.name }}</div>
            </a>          
        </div>
        {% endfor %}
    </div>
        <div class="form">
            <form method="POST" action="/gallery">
                <label for="first_name">Imię:</label>
                <input type="text" id="first_name" name="first_name" required><br><br>
        
                <label for="last_name">Nazwisko:</label>
                <input type="text" id="last_name" name="last_name" required><br><br>
        
                <input type="submit" value="Szukaj">
            </form>
        </div>       
</div>
<div class="pagination">
    <form method = 'POST' action="gallery"></form>
        {% if prev_page == page %}
            
        {% else %}
            <a href="?page={{ prev_page }}">{{ prev_page }}</a>
        {% endif %}
        <a href="?page={{ page }}">{{ page }}</a>
        {% if next_page == page %}
            
        {% else %}
            <a href="?page={{ next_page }}">{{ next_page }}</a>
        {% endif %}
    </form>
</div>
  
{% endblock %}